/* Common styles for all screen sizes */
body {
  margin: 0;
  padding: 0;
}

/* Styling the button */
.btn {
  position: absolute;
  left: 50%;
  top: 80%;
  height: 50px;
  width: 100px; 
  color :white; 
  font-size: 25px;
  background: agba (0, 0, 0,0.1); 
  transform: translate (-508,-508); 
  border-radius: 10px;
}

/*.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 15px !important; }
  .btn.btn-sm {
    padding: 4px 15px !important; }
  .btn.btn-md {
    padding: 8px 20px !important; }
  .btn.btn-lg {
    padding: 18px 36px !important; }
  .btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important; }

.btn-primary {
  background: #2c98f0;
  color: #fff;
  border: 2px solid #2c98f0; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #44a4f2 !important;
    border-color: #44a4f2 !important; }
  .btn-primary.btn-outline {
    background: transparent;
    color: #2c98f0;
    border: 2px solid #2c98f0; }
    .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
      background: #2c98f0;
      color: #fff; }
*/
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.business-card {
  width: 600px;
  height: 1050px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.5s;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 60px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0;
}

.front img,
.back img {
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

.inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  transform: rotateY(0deg);
  transition: transform 0.5s;
}

.back {
  transform: rotateY(180deg);
}

.hidden {
  transform: rotateY(180deg);
  opacity: 0;
}

/* Responsive Structure */

@media (max-width: 1024px) {
  /* Smaller Resolution Desktops and Laptops */
  .business-card {
    width: 428px;
    height: 750px;
  }
}

@media (max-width: 1280px) {
  /* Smaller Resolution Desktops and Laptops */
  .business-card {
    width: 314px;
    height: 550px;
  }
}

@media (max-width: 800px) {
  /* Smaller Resolution Desktops and Laptops */
  .business-card {
    width: 514px;
    height: 900px;
  }
}

@media (max-width: 650px) {
  /* Smaller devices */
  .business-card {
    width: 300px;
    height: 525px;
  }
}

@media (max-width: 450px) {
  /* Even Smaller devices */
  .business-card {
    width: 250px;
    height: 438px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 389px) {
  /* Even Smaller devices */
  .business-card {
    width: 300px;
    height: 525px;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-width: 420px) {
  /* Even Smaller devices */
  .business-card {
    width: 352px;
    height: 600px;
  }
}
