/* Common styles for all screen sizes */
body {
  margin: 0;
  padding: 0;
}

/* Styling the button */
.btn {
  cursor: pointer;
  border: 1px solid #3498db;
  background-color: transparent;
  height: 50px;
  width: 200px;
  color: #3498db;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.business-card {
  width: 600px;
  height: 1050px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.5s;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 60px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0;
}

.front img,
.back img {
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

.inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  transform: rotateY(0deg);
  transition: transform 0.5s;
}

.back {
  transform: rotateY(180deg);
}

.hidden {
  transform: rotateY(180deg);
  opacity: 0;
}

/* Responsive Structure */

@media (max-width: 1024px) {
  /* Smaller Resolution Desktops and Laptops */
  .business-card {
    width: 428px;
    height: 750px;
  }
}

@media (max-width: 1280px) {
  /* Smaller Resolution Desktops and Laptops */
  .business-card {
    width: 314px;
    height: 550px;
  }
}

@media (max-width: 800px) {
  /* Smaller Resolution Desktops and Laptops */
  .business-card {
    width: 514px;
    height: 900px;
  }
}

@media (max-width: 650px) {
  /* Smaller devices */
  .business-card {
    width: 300px;
    height: 525px;
  }
}

@media (max-width: 450px) {
  /* Even Smaller devices */
  .business-card {
    width: 250px;
    height: 438px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 389px) {
  /* Even Smaller devices */
  .business-card {
    width: 300px;
    height: 525px;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-width: 420px) {
  /* Even Smaller devices */
  .business-card {
    width: 352px;
    height: 600px;
  }
}
